<section class="card">
  <a href="/user/{{id}}">
    <header>{{title}}</header>
    <img src="/images/{{characters.[0].filename}}" alt="{{characters.[0].description}}">

  </a>
  {{#each users as |user|}}
<button id="btn">Create New Character</button>
<div id="creation">{{character-creation}}</div>
{{> user-details}}
{{/each}} 
</section>