{{#if loggedIn}}
<section class="character">
  <img src="/images/{{character.filename}}" alt="{{character.description}}">
  <div class="character-details">
    <h3>{{character.title}}</h3>
    <p>By: {{character.creator}}</p>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this character</a>
{{/if}}