{{!-- {{#each users as |user|}}
{{> user-details}}
{{/each}} --}}

<!-- Loop over each object in the characters array -->
{{#each characters as |character|}}
  <div class="row row-cols-4" id="ramen">
    <div class="col-md-4" id="character">
      <h2>
        {{character.Name}}
      </h2>
     <img src= "/images/human-male-sil.jpg" width="220" height="240" align="left">

      <p><b>Race:</b>
        {{character.Race}}</p>
        <p><b>Age:</b>
        {{character.Age}}</p>

        <p><b>Height:</b>
        {{character.Height}}</p>
        <p><b>Weight:</b>
        {{character.Weight}}</p>
        <p><b>Gender:</b>
        {{character.Gender}}</p>
      
      <p><b>Story:</b> {{character.Story}}</p>
      <p><b>Created by</b>
        {{character.user.username}}</p>
        <p>on
        {{format_date character.createdAt}}</p>
    </div>
  </div>
{{/each}}